@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1d1e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
  @apply tracking-tight leading-normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
